@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

body {
  background: white;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.content-grid{
  @include outer-container();
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

//BREADCRUMBS

.breadcrumbs{
  @include span-columns (12);
  background-color: #F8F7F7;
  padding-top:1em;
  padding-bottom: 1em; 
  margin-bottom: 4em;
  font-size: 15px;

  .tags{
    @include span-columns (10);
    @include shift (1);
    color: #9B9B9B;
  }
}


//STRATEGY

.strategy{
  @include span-columns (10);
  @include shift(1);
  height: 300px;

}

.title{
  border-bottom: 5px solid #00B0AF;
  font-family: "Roboto";
  padding-bottom: 1.5em;
  position:relative;
  margin-bottom: 3em;
  h1{
    padding-top: .5em;
    font-weight: 300;
    font-size: 2.2em;
  }

  h2{
    font-family: "Roboto";
    color: #00B0AF;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .9em;

  }
}

.actions{
  padding: 2em 3em 2em 3em;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #F9F9F9;
  img{
    padding-left: 2em;
    padding-bottom: 0em;
  }
  img:first-child {
    padding-left: 0;
    padding-bottom: 0em;
  }
}

.content{
  @include span-columns (7 of 10);
  p{
    font-family: georgia;
  }
}

.products{
  @include span-columns (3 of 10);
  height: 200px;
  background-color: #F9F9F9;
}

//NAVIGATION

img{
  padding-bottom: 2em;
}
ul{
  float: right;
  padding-bottom: 2em;
}

li{
  float: left;
  padding-left: 3em;
}
nav{
  padding-top:2em;
  font-size: 15px;
  font-size: 15px;

}