---
title: Welcome to Middleman
---

<div class="breadcrumbs">
		<div class="tags content-grid"><span class="tag">United States</span> > <span class="tag">Global Equity Select</span></div>
</div>
<div class="content-grid">
	<div class="strategy">
		<div class="title">
			<h2>Investment Strategy</h2>
			<h1>Global Equity Select</h1>
			<div class="actions">
				<img src="images/email.png">
				<img src="images/download.png">
				<img src="images/Print.png">
				<img src="images/save.png">
			</div>
		</div>
		<div class="content">
			<p>A global, unconstrained strategy designed to leverage Lazard’s best ideas worldwide.  The strategy seeks to outperform the MSCI All Country World Index by 250 bps per annum over a full market cycle.  Performance is measured relative to the MSCI All Country World Index, but the index does not drive the investment process.<br><br>The strategies' time-tested investment approach focuses on undervalued companies that pay an attractive dividend today and have the potential ability and willingness to increase dividend payments over time. The strategies are grounded in fundamental security research, enhanced by Lazard Asset Management's global resources and macroeconomic expertise, and strengthened by our unique approach to portfolio construction.</p>
			<div class="list">
			</div>
		</div>
		<div class="products"></div>



	</div>
</div>
